---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profiles from "../assets/images/profile.png"
import profile from "../data/profile.json";
import SpotifyWidget from "../components/SpotifyWidget";
---


<Layout title="About">

    </div>
</Layout>
