---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectList from '../components/ProjectList.astro';
import PlaygroundList from '../components/PlaygroundList.astro';
import CTA from '../components/CTA.astro';
---


<style>
	
</style>

<Layout title="Timy Villarmia">
	<main>
		<Hero/>
		<ProjectList/>
		<PlaygroundList/>
		<CTA/>		
	</main>
</Layout>

