---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import ProjectList from '../components/ProjectList.astro';
import PlaygroundList from '../components/PlaygroundList.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Timy Villarmia">
	<main>
		<section class="Hero container py-10">
			<div>
				<h1 class="text-5xl text-center font-bold py-4">Hi, I&rsquo;m Timy.</h1>
				<p class="text-base text-center">I&rsquo;m a computer science student specializing in Full-Stack development with a keen interest in Artificial Intelligence and Human-Computer Interaction.</p>    
			</div>
			<div class="flex py-10 items-center justify-around text-sm">
				<div class="flex items-center justify-center gap-x-2">
					<Icon name="mdi:location"/>
					<p>Cebu City, PH</p>
				</div>
				<div class="flex items-center justify-center gap-x-2">
					<Icon name="mdi:check-circle-outline" class="text-[#34d399]"/>
					<p>Available for Internship</p>
				</div>
			</div>
		</section>
		<section class="Projects container py-10">
			<div>
				<h1 class="text-3xl font-bold py-2 uppercase">Projects</h1>
				<p class="text-sm">A collection of some of my favorite projects from the past few years.</p>
			</div>
			<div>
				<ProjectList/>
			</div>
		</section>
		<section class="Playground container">
			<div class="">
				<h1 class="text-3xl font-bold py-2 uppercase">Playground</h1>
				<p class="text-sm">A collection of my half-finished projects, random ideas, experiments that are fun, & sometimes just a little bit weird.</p>
			</div>
			<div>
				<PlaygroundList/>
			</div>
		</section>
		<section class="CTA container">
			<CTA/>		
		</section>
	</main>
</Layout>

