---

---


<div class="call-to-action text-center py-40">
    <h1 class="text-xl  text-primary font-medium">Let&rsquo;s connect</h1>
    <a class="text-2xl font-bold sm:text-3xl md:text-5xl lg:text-6xl" href="mailto: timyvillarmia@gmail.com">timyvillarmia@gmail.com</a>
</div>