---
import { Icon } from 'astro-icon/components';

---


<div class="flex flex-col gap-y-4 items-center text-xl justify-center border-t-[.5px] py-4 mb-20">
    <div class="flex flex-col gap-y-4">
        <p class="font-bold text-lg">Timy Villarmia © 2024</p>
        <nav class="">
            <ul class="flex justify-center gap-2 text-2xl">
                <li>
                    <a href="https://www.linkedin.com/in/timyvillarmia/" target="_blank">
                        <Icon name="mdi:linkedin" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/VillarmiaTimy" target="_blank">
                        <Icon name="mdi:facebook-box" />
                    </a>
                </li>
                <li>
                    <a href="https://github.com/TimyVillarmia" target="_blank">
                        <Icon name="mdi:github-box" />
                    </a>
                </li>
                <li>
                    <a href="mailto: timyvillarmia@gmail.com" target="_blank">
                        <Icon name="mdi:email" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex justify-center">
        <p class="text-base font-light">Built with Astro ❤️</p>
    </div>
</div>