---
import { Icon } from 'astro-icon/components';

---

<section class="Hero py-20 items-center text-base text-balance h-dvh sm:text-xl sm:py-40 lg:text-2xl lg:py-50">
    <div class="text-center">
        <h1 class="text-5xl font-bold py-4 sm:text-7xl lg:text-9xl">Hi, I&rsquo;m Timy.</h1>
        <p class="">I&rsquo;m a computer science student specializing in Full-Stack development with a keen interest in Artificial Intelligence and Game Development.</p>    
    </div>
    <div class="flex py-20 items-center justify-evenly">
        <div class="flex items-center justify-center gap-x-2">
            <Icon name="mdi:location"/>
            <p>Cebu City, PH</p>
        </div>
        <div class="flex items-center justify-center gap-x-2">
            <Icon name="mdi:check-circle-outline" class="text-[#34d399]"/>
            <p>Available for Internship</p>
        </div>
    </div>
</section>

