---
import { Icon } from 'astro-icon/components';

---

<section class="Hero  py-10">
    <div class="text-center">
        <h1 class="text-5xl font-bold py-4">Hi, I&rsquo;m Timy.</h1>
        <p class="text-base text-balance">I&rsquo;m a computer science student specializing in Full-Stack development with a keen interest in Artificial Intelligence and Human-Computer Interaction.</p>    
    </div>
    <div class="flex py-10 items-center justify-around text-sm">
        <div class="flex items-center justify-center gap-x-2">
            <Icon name="mdi:location"/>
            <p>Cebu City, PH</p>
        </div>
        <div class="flex items-center justify-center gap-x-2">
            <Icon name="mdi:check-circle-outline" class="text-[#34d399]"/>
            <p>Available for Internship</p>
        </div>
    </div>
</section>

