---


---

<nav>
    <div class="fixed flex text-sm bottom-10 gap-x-2 w-full left-0 justify-center items-center xs:text-base sm:hidden">
        <button class="border-[1px] bg-dark bg-opacity-70 rounded-full py-2 px-4 ">
            <a href="/">Home</a>
        </button>
        <button class="border-[1px] bg-dark bg-opacity-70 rounded-full py-2 px-4">
            <a href="/about" >About</a>
        </button>
    </div>
</nav>