---


---

<nav>
    <div class="fixed flex text-sm bottom-0 gap-x-2 w-full h-24 left-0 justify-center items-center md:hidden">
        <button class="border-[1px] bg-dark bg-opacity-70 rounded-[18px] py-2 px-4 ">
            <a href="/">Home</a>
        </button>
        <button class="border-[1px] bg-dark bg-opacity-70 rounded-[18px] py-2 px-4">
            <a href="/about" >About</a>
        </button>
    </div>
</nav>