---
import { Icon } from 'astro-icon/components';
---

<nav>
    <div class="mx-auto my-12 flex flex-wrap items-center justify-between">
        <a href="/" class="text-lg font-bold ">Timy Villarmia</a>
        <div class="hidden md:flex md:items-center md:justify-between">
            <button class="border-[1px] rounded-[18px] py-2 px-4 ">
                <a href="/">Home</a>
            </button>
            <button class="border-[1px] rounded-[18px] py-2 px-4">
                <a href="/about" >About</a>
            </button>
        </div>
        <button class="flex items-center bg-primary text-black rounded-full py-2 px-4 text-xs">
            <p>Contact me</p>
            <Icon name="mdi:chevron-right"/>
        </button>
    </div>
</nav>

