---
const { project } = Astro.props;
import { Icon } from 'astro-icon/components';
---


<div class="flex flex-row items-center justify-between bg-card py-6 px-4 rounded-[9px]">
    <div class="">
        <h1 class="text-base font-bold">{project.title}</h1>
        <p class="text-sm font-thin">{project.category}</p>
    </div>
    <div class="">
        <a href={project.link}>
            <Icon name="mdi:github" class="text-2xl"/>
        </a>
    </div>

</div>
