---
interface Props {
	title: string;
}

import Nav from '../components/Nav.astro';	
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import MobileNav from '../components/Mobile-Nav.astro';
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="container mx-auto bg-dark font-serif text-white">
		<header>
			<Nav />
		</header>
		<slot />
		<Footer />
		<MobileNav/>
	</body>
</html>
